<h1>Sign Up to Find Your Best Coffee</h1>

<% @user.errors.messages.each do |attr, message| %>
  <p>error on <%= attr %><%= message %></p>
<% end %>

<%= form_for @user do |f| %>
  <%= f.label(:name) %>
  <%= f.text_field(:name) %>
  <%= f.label(:email) %>
  <%= f.text_field(:email) %>
  <%= f.label(:description) %>
  <%= f.text_field(:description) %>
  <% if @user.admin_status == "5" %>
  <%= f.label(:admin_status) %>
  <%= f.number_field(:admin_status) %>
  <% end %>
  <%= f.label(:password) %>
  <%= f.password_field(:password) %>
  <%= f.label(:password_confirmation) %>
  <%= f.password_field(:password_confirmation) %>
  <%= f.submit %>
<% end %>


