<% if logged_in? %>

  <a href="/logout">Click to logout</a><br><br>

<% end %>

<%= link_to "Back to recipe page", recipe_path(@recipe) %>
<br><br>
<%= link_to "Edit this step", edit_recipe_step_path(@recipe, @step) %>

    <% @step.appliances.each do |appliance| %>
    <p> You need <%= pluralize(@step.appliances.length, "this") %><%= pluralize(@step.appliances.length, "appliance") %> to complete this step:<br> <%=  appliance.name %></p>
        <p/> Don't own it yet? You can purchase it on Amazon:&nbsp;&nbsp;&nbsp;<a href="<%= appliance.amazon_purchase_link %>">Buy Now!</a></p>
        <br>
    <% end %>

    <p><%= @step.name %>
    <br>
    <br>
    <%= @step.description %>
    <br>


    <br>
    <%= @step.total_time %> min to complete</p>
    <br>
    <p>Start a stopwatch (counts upward).</p>    <p>Start a timer (counts downward).</p>
    <br>






