<!DOCTYPE html>
<html>
<head>
  <title>My Best Coffee</title>
<link href='http://fonts.googleapis.com/css?family=Amaranth|Griffy|Cabin+Sketch|Codystar|Love+Ya+Like+A+Sister|Emilys+Candy|Aladin|Rye|IM+Fell+Great+Primer|Buda:300' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="wrapper">
  <%= render "layouts/header" %>

  <div id="container">
    <%= yield %>
  </div>

</div>

<div id="footer">
  <%= render "layouts/footer" %>
</div>

</body>

</html>
